In [35]:
import pandas as pd

In [36]:
df=pd.read_csv("spotify_millsongdata.csv")

In [37]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [38]:
df.describe()

,artist,song,link,text
count,57650,57650,57650,57650
unique,643,44824,57650,57494
top,Donna Summer,Have Yourself A Merry Little Christmas,/a/abba/ahes+my+kind+of+girl_20598417.html,I just came back from a lovely trip along the ...
freq,191,35,1,6

In [39]:
df.shape

(57650, 4)

In [40]:
df.tail(6)

,artist,song,link,text
57644,Ziggy Marley,Generation,/z/ziggy+marley/generation_20531171.html,Many generation have passed away \r\nFighting...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [41]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [43]:
df=df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [44]:
df.head()

,artist,song,text
0,Status Quo,Claudie,It's so long since I sang songs to you \r\nI ...
1,Natalie Cole,Paradise,(written by natalie cole and marvin yancy) \r...
2,Cyndi Lauper,Santa Claus Is Coming To Town,I just came back from a lovely trip along the ...
3,Drake,Juice,"Yeh, ah... Ah \r\nBoy wonder... Drizzy \r\nA..."
4,Beach Boys,Do You Wanna Dance?,Do you want to dance and hold my hand? \r\nTe...

In [45]:
df['text'][0]

"It's so long since I sang songs to you  \r\nI forget all the words I once knew  \r\nI could look back  \r\nBut I can't waste the time  \r\n  \r\nDid it matter  \r\nThey sometimes didn't rhyme  \r\nIt's so long since I sang songs for you  \r\n  \r\nIt's so long since you smile just for me  \r\nNow your smile's just an old use to be  \r\nDoes it matter  \r\nThat I can take the time  \r\n  \r\nWould you rather  \r\nI write you one more line  \r\nCan my songs once again be for you  \r\n  \r\nClaudie made a fool out of me  \r\nMade me find another place to be  \r\nI've been living alone  \r\nIn a house that wasn't my home  \r\nWith Claudie is the place I want to be  \r\n  \r\nWhen I left did you think of me crying  \r\nDid you care that I felt I was dying  \r\nI pretended  \r\nThat I don't give a damn  \r\nAll along  \r\nI've know what I really am  \r\nI'm a fool little Claudie just for you  \r\n  \r\nClaudie made a fool out of me  \r\nMade me find another place to be  \r\nI've been living alone  \r\nIn a house that wasn't my home  \r\nWith Claudie is the place I want to be\r\n\r\n"

# DATA PREPOCESSING

In [46]:
df['text']=df['text'].str.lower().replace(r'^\w\s','').replace(r'\n',' ',regex=True)

In [47]:
df.tail(5)

,artist,song,text
4995,Bob Marley,Bad Boys,"uh! bad boys watcha gon, watcha gon, watcha go..."
4996,Bing Crosby,Mean To Me,you're mean to me \r why must you be mean to ...
4997,Heart,White Lightning And Wine,"this night's gone, we're moving on \r highway..."
4998,Neil Diamond,I'm Afraid,"i'm afraid, so afraid \r that you'll go \r a..."
4999,Jason Mraz,Did I Fool Ya?,"when daddy sings \r hes an auctioneer, auctio..."

In [48]:
import nltk
from nltk.stem.porter import PorterStemmer

In [49]:
stemmer=PorterStemmer()

In [50]:
def token(txt):
    token=nltk.word_tokenize(txt)
    a=[stemmer.stem(w) for w in token]
    return " ".join(a)

In [51]:
token("making somebody happy is a question ")

'make somebodi happi is a question'

In [52]:
df['text'].apply(lambda x: token(x))

0       it 's so long sinc i sang song to you i forget...
1       ( written by natali cole and marvin yanci ) hm...
2       i just came back from a love trip along the mi...
3       yeh , ah ... ah boy wonder ... drizzi ah ... a...
4       do you want to danc and hold my hand ? tell me...
                              ...
4995    uh ! bad boy watcha gon , watcha gon , watcha ...
4996    you 're mean to me whi must you be mean to me ...
4997    thi night 's gone , we 're move on highway 's ...
4998    i 'm afraid , so afraid that you 'll go and i ...
4999    when daddi sing he an auction , auction . and ...
Name: text, Length: 5000, dtype: object

In [53]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [54]:
tfid=TfidfVectorizer(analyzer='word',stop_words='english')

In [55]:
m=tfid.fit_transform(df['text'])

In [56]:
s=cosine_similarity(m)

In [57]:
s[0]

array([1.        , 0.01670023, 0.01028938, ..., 0.05566975, 0.02331477,
       0.06807233])

In [58]:
df[df['song']=='Against The Wall'].index[0]

4349

In [59]:
def recommender(song_name):
    idx=df[df['song']==song_name].index[0]
    d=sorted(list(enumerate(s[idx])),reverse=True,key=lambda x:x[1])
    song=[]
    for sid in d[1:5]:
        song.append(df.iloc[sid[0]].song)
    return song

In [60]:
recommender("Against The Wall")

['Back Against The Wall',
 'A Long Time Gone',
 'Captain Wedderburn',
 'Heads On The Wall']

In [61]:
import pickle

In [62]:
pickle.dump(s,open("similarity.pkl","wb"))

In [63]:
pickle.dump(df,open("df.pkl","wb"))